@import "../../../scss/utils";

.forgot-password-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    font-size: 30px;
  }
  .forgot-password {
    display: flex;
    justify-content: flex-end;
    .link {
      color: $primary-color;
      font-size: 1rem;
    }
  }
  .form-group {
    padding: 10px;
    .link {
      color: $primary-color;
    }
    button.btn {
      width: 100%;
    }
  }
}